.heading {
    padding: 10px;
    
    border-bottom: 1px solid #E0E0E0;
    
    text-align: center;
}

.heading .heading-image {
    margin: 0 auto;
    border: 5px solid #424242;
}

.heading .heading-title { }

.heading .heading-subtitle {
    opacity: 0.4;
    font-style: italic;
}

.heading .heading-charms { }

.heading .heading-charms a {
    padding: 10px;
    color: #212121;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .heading .heading-title .nickname {
        display: block;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .heading .heading-title .nickname {
        display: inline;
    }
}