html, body {
    margin: 0;
}

img {
    display: block;
    max-width: 256px;
    height: auto;
}

.container-fluid {
    width: 95%;
    margin: 0 auto;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 2px;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .container {
        width: 65%;
        margin: 0 auto;
    }
}